---
layout: page
title: Find
header: Find Page
tagline: "All the elemets to improve the sites with this theme"
group: navigation
img : 4.jpg
img-mobile : 4-mobile.jpg
---
{% include JB/setup %}
{% include themes/bootstrap/nav-bar.html %}
<main class="k-main">
        <section class="k-section k-section--large k-color-background--marine k-color--white k-align--center-md k-align--center-sm">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 col-sm-12">
                        <h2 class="k-header--large">DIY RETURN CENTER</h2>
                        <h3 class="k-header k-color--blue">If you’re not 100% happy with your Karma Go, you can return it for a refund. No hard feelings. </h3>
                        <hr class="k-hr k-color-border--marine-soft k-spacing-bottom--x-large">
                        <div class="row">
                            <div class="col-md-4 col-sm-12 k-align--center"><img class="r-icon" src="https://dy53q6sor7j4i.cloudfront.net/assets/icon-returns-label-3f997098b77c26190617ad0e295d57ecef3f3b1155ca5acf687088ff7fa10d50.svg" alt="Icon returns label" />
                                <p class="k-paragraph--small">To return your Karma Go, request a return label using the form below.</p>
                            </div>
                            <div class="col-md-4 col-sm-12 k-align--center"><img class="r-icon r-icon-attach" src="https://dy53q6sor7j4i.cloudfront.net/assets/icon-returns-attach-5ea1b3fcfb6e9dd8429af273d1bb8db5dd34c09c97ca0277ed6ed90c4f185ab6.svg" alt="Icon returns attach" />
                                <p class="k-paragraph--small">Print and attach the return label to any box or package you have on hand.</p>
                            </div>
                            <div class="col-md-4 col-sm-12 k-align--center"><img class="r-icon r-icon-ship" src="https://dy53q6sor7j4i.cloudfront.net/assets/icon-returns-ship-639034b39d43e05f55230add2497a12ecb7604091325a441e2bed2455b11a3b5.svg" alt="Icon returns ship" />
                                <p class="k-paragraph--small">Drop off the package at any FedEx location and bid it farewell.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div id="k-alert"></div>
        <section class="k-section k-section--large k-section--bi-color k-section--border">
            <div class="container">
                <div class="k-section--bi-color-left">
                    <div class="k-section--bi-color-contents">
                        <div class="row">
                            <div class="col-xs-12">
                                <div data-react-class="Returns.Form" data-react-props="{&quot;values&quot;:{},&quot;url&quot;:&quot;/returns?fomat=js&quot;,&quot;authenticity_token&quot;:&quot;hfVhpcJ+6b4o3ThGRpBs9TjiOOxt10bV+yAMDwKfsNXr2gB0w8hTECOBexluaUQ7HXwXpRA9KMYcqV3CRNMD1A==&quot;}">
                                    <form data-reactroot="" class="k-form  " method="POST" novalidate="">
                                        <input type="hidden" name="authenticity_token" value="hfVhpcJ+6b4o3ThGRpBs9TjiOOxt10bV+yAMDwKfsNXr2gB0w8hTECOBexluaUQ7HXwXpRA9KMYcqV3CRNMD1A==">
                                        <input type="hidden" name="_method" value="POST">
                                        <div>
                                            <h3 class="k-header--large k-color--night">Find your order</h3>
                                            <p class="k-paragraph">Enter the email address you used for your order below, and we'll find it for you.</p>
                                            <fieldset class="k-form-fieldset k-spacing-bottom--base">
                                                <legend class="k-form-legend">Order Information</legend>
                                                <div class="row k-form-row">
                                                    <div class="col-xs-12 k-form-column">
                                                        <div class="k-form-group ">
                                                            <input type="email" class="k-form-text-field" name="return_request.email" placeholder="Your email address">
                                                            <label class="k-form-label k-form-label--required" for="return_request.email">Email address</label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </fieldset>
                                            <ul class="k-form-errors undefined k-form-errors--none"></ul>
                                            <fieldset class="k-form-fieldset k-form-fieldset--no-border k-spacing-bottom--none">
                                                <button class="k-button k-button--orange k-button--full-width k-button--mobile-full-width k-button--next ">Find My Order</button>
                                            </fieldset>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="k-section--bi-color-right">
                    <div class="k-section--bi-color-contents">
                        <div class="row">
                            <div class="col-xs-12">
                                <h3 class="k-header k-color--night">What can I return?</h3>
                                <p class="k-paragraph">You can return any items sold and fulfilled by Karma within 45 days of delivery for a refund. Items bought from Amazon will need to be returned using Amazon only.</p><a class="k-link k-icon-right--next k-spacing-bottom--large k-block" href="https://yourkarma.com/help/orders-shipping/what-is-the-refund-return-policy">Learn more about our refunds</a>
                                <hr class="k-hr">
                                <h4 class="k-header--x-small">When will I get my refund?</h4>
                                <p class="k-paragraph--x-small">All returns are processed in the order we receive them. Once your return reaches our fulfillment center, you should receive an email stating that your refund is on the way in about 4-6 weeks.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
</main>
