---
layout: page
title: Landing
header: Landing Page
tagline: "All the elemets to improve the sites with this theme"
group: navigation
img : 4.jpg
img-mobile : 4-mobile.jpg
---
{% include JB/setup %}
{% include themes/bootstrap/nav-bar.html %}
<main class="k-main">
    <section class="w-home-hero w-home-hero--pulse25">
        <div class="container">
            <div class="row">
                <div class="col-md-7 col-sm-8 k-position--relative">
                    <h1 class="k-header--x-large k-color--marine k-spacing-bottom--30 hidden-xs">More Wifi.<br>Less Bills.</h1>
                    <h1 class="k-header--large k-color--marine k-spacing-bottom--30 visible-xs">More Wifi.<br>Less Bills.</h1>
                    <p class="k-paragraph--x-large k-spacing-bottom--30">Introducing a bigger plan for less. Meet our new Pulse 25 plan. Now with double the data through the end of the year. </p><a class="k-button--blue k-button--mobile-full-width k-spacing-bottom--30" href="https://yourkarma.com/how-it-works/pulse/25">Learn More</a>
                    <div class="w-seat-counter">
                        <div class="w-seat-counter-container">
                            <h2 class="k-paragraph--small k-spacing-bottom--none">Seats Left</h2><span class="w-seat-counter-number-zero">0</span><span class="w-seat-counter-number">475</span></div>
                    </div>
                </div>
                <div class="col-md-5 col-sm-4">
                    <div class="w-pulse-25-karma">
                        <div class="w-pulse-25">
                            <div class="w-pulse-25-bg"></div>
                            <div class="w-pulse-25-title"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="k-color-background--marine">
        <div class="container w-home-pitch">
            <div class="row">
                <div class="col-sm-7 col-sm-offset-5">
                    <h2 class="k-header--large k-color--white k-spacing-top--75 k-spacing-top--150-sm">Earn Data When You Share&nbsp;WiFi.</h2>
                    <p class="k-paragraph--x-large k-color--gray-border k-spacing-bottom--75 k-spacing-bottom--150-md">Share your WiFi with people nearby and when they securely connect to your Karma&nbsp;Go, you earn rewards. They use their data, never&nbsp;yours.</p>
                </div>
            </div>
            <div class="w-home-pitch-go w-home-pitch-go--1"></div>
        </div>
        <div class="container w-home-pitch">
            <div class="row">
                <div class="col-sm-7">
                    <h2 class="k-header--large k-color--white k-spacing-top--75 k-spacing-top--150-sm">Plans are as Clear as&nbsp;Day.</h2>
                    <p class="k-paragraph--x-large k-color--gray-border k-spacing-bottom--75 k-spacing-bottom--150-sm">Choose from <a class="k-link--blue" href="https://yourkarma.com/how-it-works/refuel">pay-as-you-go</a> and <a class="k-link--blue" href="https://yourkarma.com/how-it-works/pulse">monthly subscription</a> options. Always know exactly what you get without any confusion or fine&nbsp;print. </p>
                </div>
            </div>
            <div class="w-home-pitch-go w-home-pitch-go--2"></div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-5 col-sm-12 k-align--center k-spacing-top--150-md k-spacing-top--75">
                    <h2 class="k-header--medium k-color--marine">You control Karma&nbsp;Go right from the&nbsp;app.</h2>
                    <div class="w-home-faux-notification clearfix k-spacing-top--40 k-spacing-bottom--40"><img class="k-float--left k-spacing-right--15" height="40" src="https://dy53q6sor7j4i.cloudfront.net/assets/app-icon-6354f8f1a28eb84c5ae08aa39857d6b503af4fc3b20f743b106adc9ac8f74234.svg" alt="App icon" />
                        <div class="k-float--left">
                            <p class="k-paragraph--small k-color--night k-font-weight--500 k-spacing-bottom--3">Karma<span class="k-font-weight--400 k-color--gray-inactive k-spacing-left--7">now</span></p>
                            <p class="k-paragraph--small k-color--gray k-spacing-bottom--none">Juliet joined your Karma. You saved
                                <br>her day. 100MB gained.</p>
                        </div>
                    </div>
                    <p class="k-paragraph--large k-spacing-bottom--30">See your data usage, manage your account, and be notified when a guest gets online with your Karma&nbsp;Go.</p>
                    <a class="k-button--ios k-spacing-right--base" href="https://itunes.apple.com/us/app/karma-wifi/id673069729?mt=8"></a>
                    <a class="k-button--android" href="https://play.google.com/store/apps/details?id=com.yourkarma.android"></a>
                </div>
                <div class="col-md-5 col-md-offset-2 col-sm-12 k-align--center k-spacing-top--150-md k-spacing-top--75">
                    <h2 class="k-header--medium k-color--marine">You get great signals all over the&nbsp;country.</h2><img class="k-spacing-top--15 k-spacing-bottom--15" height="140" src="https://dy53q6sor7j4i.cloudfront.net/assets/home_coverage-b4b8a36392376d79a5268c50109d26205d7e36d57441d42a8f5c739540e845e4.svg" alt="Home coverage" />
                    <p class="k-paragraph--large k-spacing-bottom--30">You get over 460 U.S. cities of coverage through the cellular LTE connection on your Karma&nbsp;Go.</p><a class="k-button--blue k-button--small" href="https://yourkarma.com/coverage">Coverage Map</a></div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="hidden-sm hidden-xs k-spacing-padding-top--110"></div>
                    <div class="visible-sm visible-xs k-spacing-padding-top--75"></div>
                    <hr class="k-hr k-spacing-bottom--none">
                    <div class="hidden-sm hidden-xs k-spacing-padding-top--110"></div>
                    <div class="visible-sm visible-xs k-spacing-padding-top--75"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 k-align--center">
                    <div class="ki-icon--clock ki-icon-size--32 k-color--blue k-spacing-bottom--30"></div>
                    <p class="k-paragraph k-spacing-bottom--75 k-spacing-bottom--0-sm">Your Karma&nbsp;Go has LTE speeds of 6-8Mbps, and highs up to&nbsp;25Mbps.</p>
                </div>
                <div class="col-sm-4 k-align--center">
                    <div class="ki-icon--devices ki-icon-size--32 k-color--blue k-spacing-bottom--30"></div>
                    <p class="k-paragraph k-spacing-bottom--75 k-spacing-bottom--0-sm">Get up to 8 of your devices online through one Karma&nbsp;Go.</p>
                </div>
                <div class="col-sm-4 k-align--center">
                    <div class="ki-icon--contract ki-icon-size--32 k-color--blue k-spacing-bottom--30"></div>
                    <p class="k-paragraph">You can feel at ease with no contracts and no hidden&nbsp;fees.</p>
                </div>
            </div>
        </div>
        <div class="k-spacing-padding-top--75"></div>
    </section>
    <div class="w-home-shipping k-spacing-padding-top--40 k-spacing-padding-top--110-sm k-spacing-padding-bottom--40 k-spacing-padding-bottom--110-sm k-color-background--marine k-color--white k-position--relative">
        <div class="container">
            <div class="row">
                <div class="col-sm-4 k-position--static">
                    <div class="w-home-hand hidden-xs"></div>
                </div>
                <div class="col-sm-8">
                    <p class="k-paragraph--x-large k-spacing-bottom--40">Free shipping just for you, anywhere in&nbsp;the&nbsp;U.S.</p><a class="k-button--blue hidden-xs" href="https://yourkarma.com/store">Buy Karma Go</a><a class="k-button--blue k-button--full-width visible-xs" href="https://yourkarma.com/store">Buy Karma Go</a></div>
            </div>
        </div>
    </div>
</main>
