---
layout: page
title: Video
header: Video Page
tagline: "All the elemets to improve the sites with this theme"
group: navigation
img : 4.jpg
img-mobile : 4-mobile.jpg
---
{% include JB/setup %}
{% include themes/bootstrap/nav-bar.html %}
<main class="k-main">
        <section class="w-start-hero">
            <div class="container">
                <div class="k-embed-responsive k-embed-responsive--16-9">
                    <iframe allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/Fr6YGFaOUjI?rel=0&amp;amp;showinfo=0" width="560"></iframe>
                </div>
            </div>
        </section>
        <section class="k-section k-spacing-padding-vertical--150">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <h2 class="k-header--large k-color--marine k-spacing-bottom--75">Karma Go in&nbsp;Detail.</h2></div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <hr class="k-hr k-spacing-bottom--50">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <h3 class="k-header k-color--blue">Connectivity</h3></div>
                    <div class="col-md-8">
                        <p class="k-paragraph--large k-spacing-bottom--30">Karma Go turns an LTE connection into a personal WiFi signal.</p>
                        <h4 class="k-header--xx-small k-spacing-bottom--20">Network</h4>
                        <ul class="k-checklist">
                            <li class="k-checklist-item--blue k-color--gray-inactive">4G LTE with fallback to CDMA (3G) on Sprint</li>
                        </ul>
                        <div data-react-class="Website.Speeds" data-react-props="{}"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <hr class="k-hr k-spacing-vertical--50">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <h3 class="k-header k-color--blue">Wireless</h3></div>
                    <div class="col-md-8">
                        <p class="k-paragraph--large k-spacing-bottom--30">Your laptop, tablet, and phone wirelessly connect to Karma Go within about 100 feet.</p>
                        <ul class="k-checklist k-spacing-bottom--none k-color--gray-inactive">
                            <li class="k-checklist-item--blue k-spacing-bottom--15">802.11b/g/n 2.4Ghz wireless networking</li>
                            <li class="k-checklist-item--blue k-spacing-bottom--15">Supports up to 8 simultaneous connections</li>
                            <li class="k-checklist-item--blue">Maximum speed 54Mbps</li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <hr class="k-hr k-spacing-vertical--50">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <h3 class="k-header k-color--blue">Battery Life</h3></div>
                    <div class="col-md-8">
                        <p class="k-paragraph--large">Up to 6 hours</p>
                        <p class="k-paragraph">Stay online longer with up to 6 hours of battery life and over 220 hours of standby time.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <hr class="k-hr k-spacing-vertical--50">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <h3 class="k-header k-color--blue k-spacing-bottom--30">Location</h3></div>
                    <div class="col-md-8"><img class="k-image--responsive w-karmago-specs-map k-spacing-bottom--30" src="https://dy53q6sor7j4i.cloudfront.net/assets/coverage-cc6a0a2dcdebd7777911ab3baa4d66431f04a5e74831fab401677410fb1ce249.svg" alt="Coverage" />
                        <p class="k-paragraph--large">WiFi shouldn't be something you have to hunt for. More cities, more coverage, more fun.</p>
                        <p class="k-paragraph"><a class="k-link--blue" href="https://yourkarma.com/coverage">View coverage map</a></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <hr class="k-hr k-spacing-vertical--50">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <h3 class="k-header k-color--blue">Size</h3></div>
                    <div class="col-md-8">
                        <p class="k-paragraph--large">At 2.3 ounces, Karma Go fits perfectly in your bag or pocket.</p><img class="k-image--responsive w-karmago-specs-dimensions" src="https://dy53q6sor7j4i.cloudfront.net/assets/dimensions-100598f1cff356febf1008ccc0625a66ec06022b1d6fe8047865f929c0d6c9d6.svg" alt="Dimensions" /></div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <hr class="k-hr k-spacing-vertical--50">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <h3 class="k-header k-color--blue">Control</h3></div>
                    <div class="col-md-8">
                        <h4 class="k-paragraph--large">iOS and Android</h4>
                        <p class="k-paragraph">Stay on top of all the action right through your phone. Manage data, control remotely, and more.</p><a class="k-link--blue k-icon-left--apple k-spacing-right--base" href="https://itunes.apple.com/us/app/karma-wifi/id673069729?mt=8">App Store</a><a class="k-link--blue k-icon-left--android" href="https://play.google.com/store/apps/details?id=com.yourkarma.android">Play Store</a></div>
                </div>
            </div>
        </section>
        <section class="k-section k-color-background--marine k-spacing-padding-vertical--75">
            <div class="container">
                <div class="row">
                    <div class="col-md-9 col-sm-12">
                        <p class="k-paragraph--large k-color--white k-align--left hidden-xs hidden-sm k-spacing-padding-top--small">Karma Go ships free anywhere in the United&nbsp;States.</p>
                        <p class="k-paragraph--large k-color--white k-align--center visible-xs visible-sm k-spacing-bottom--40">Karma Go ships free anywhere in the United&nbsp;States.</p>
                    </div>
                    <div class="col-md-3 col-sm-12 k-align--right-md k-align--center-sm k-align--center-xs"><a class="k-button--blue" href="https://yourkarma.com/store">Buy Karma Go</a></div>
                </div>
            </div>
        </section>

        <section class="w-start-intro k-section--large">
            <div class="container">
                <h1 class="k-header--large k-color--marine">Let's get you online</h1>
                <h2 class="k-header k-color--blue">Follow along to get started with your Karma Go.</h2>
                <div data-react-class="Karmeleon.Components.Faq" data-react-props="{&quot;chapters&quot;:[{&quot;id&quot;:&quot;osx&quot;,&quot;title&quot;:&quot;For Mac OS X&quot;,&quot;cssClass&quot;:&quot;k-icon-left--apple k-icon-big&quot;},{&quot;id&quot;:&quot;windows&quot;,&quot;title&quot;:&quot;For Windows&quot;,&quot;cssClass&quot;:&quot;k-icon-left--windows k-icon-big&quot;},{&quot;id&quot;:&quot;ios&quot;,&quot;title&quot;:&quot;For iPhone, iPad or iPod&quot;,&quot;cssClass&quot;:&quot;k-icon-left--apple k-icon-big&quot;},{&quot;id&quot;:&quot;android&quot;,&quot;title&quot;:&quot;For Android&quot;,&quot;cssClass&quot;:&quot;k-icon-left--android k-icon-big&quot;}]}">
                    <div data-reactroot="" class="k-faq">
                        <nav class="k-tab k-tab--faq">
                            <ul class="k-tab-items">
                                <li class="k-tab-item k-tab-item--active"><a href="#faq-1-osx" class="k-tab-item-link k-icon-left--apple k-icon-big">For Mac OS X</a></li>
                                <li class="k-tab-item "><a href="#faq-1-windows" class="k-tab-item-link k-icon-left--windows k-icon-big">For Windows</a></li>
                                <li class="k-tab-item "><a href="#faq-1-ios" class="k-tab-item-link k-icon-left--apple k-icon-big">For iPhone, iPad or iPod</a></li>
                                <li class="k-tab-item "><a href="#faq-1-android" class="k-tab-item-link k-icon-left--android k-icon-big">For Android</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="k-section">
                    <div class="k-faq-chapter-contents k-faq-chapter-contents--visible" id="osx">
                        <div class="row k-spacing-bottom--xxxx-large">
                            <div class="col-xs-6">
                                <h3 class="k-header k-color--night">1. Turn on your Karma Go</h3>
                                <p class="k-paragraph">Press and hold the power button for a few seconds, until the rings flash white and the Karma Go begins powering on. </p><a class="k-link k-paragraph--small" data-behavior="ExpandableContent" href="#">Don't see any lights? </a>
                                <div class="k-expandable-content k-paragraph--small k-color--gray-inactive">If the lights don’t turn on, connect the micro USB cable to the Karma Go charging port and plug it into a power source, then try again. </div>
                            </div>
                            <div class="col-xs-6"><img alt="Knight Rider" class="k-image--responsive" src="https://dy53q6sor7j4i.cloudfront.net/assets/getting-started/graphic-device-art-booting-2x-b2ef757c70fb152a38a30d2b62e007fd0f64eb1c1c00c5ef4a87ba8d86005ff6.gif"></div>
                        </div>
                        <div class="row k-spacing-bottom--xxxx-large">
                            <div class="col-xs-6">
                                <h3 class="k-header k-color--night">2. Wait for the front lights to settle</h3>
                                <p class="k-paragraph">The battery indicator will remain on and the signal rings will go from flashing to solid, signifying a successful boot up. Depending on coverage, one to three signal rings will be lit. </p><a class="k-link k-paragraph--small" data-behavior="ExpandableContent" href="#">Signal lights aren't lit? </a>
                                <div class="k-expandable-content k-paragraph--small k-color--gray-inactive">If no signal rings are on, it means Karma Go can't find a good signal. Try to improve this by moving into a more open area. If this still doesn't work, <a class="k-link" href="https://yourkarma.com/coverage">double check the coverage</a> of the area that you're in. </div>
                            </div>
                            <div class="col-xs-6"><img alt="Kitt is active" class="k-image--responsive" src="https://dy53q6sor7j4i.cloudfront.net/assets/getting-started/graphic-device-art-on-2x-2b51d9d6d6fdb2a4366034a4a54171d97310f9ad136f37f922feb3b9c38393f0.png"></div>
                        </div>
                        <div class="row k-spacing-bottom--xxxx-large">
                            <div class="col-xs-6">
                                <h3 class="k-header k-color--night">3. Connect to Karma WiFi</h3>
                                <p class="k-paragraph">From your device (smartphone, laptop, tablet, etc.), locate Network Preferences. Then, select <span class="highlight">Karma WiFi</span> from the network list and your device will begin a connection with your Karma Go. </p><a class="k-link k-paragraph--small" data-behavior="ExpandableContent" href="#">Don't see Karma WiFi in the network list? </a>
                                <div class="k-expandable-content k-paragraph--small k-color--gray-inactive">If you don’t see the Karma WiFi in your network list after a few seconds, make sure the connecting device (smartphone, laptop, tablet, etc.) has WiFi turned on. </div>
                            </div>
                            <div class="col-xs-6"><img alt="Network SSID" class="k-image--responsive" src="https://dy53q6sor7j4i.cloudfront.net/assets/getting-started/graphic-network-list-2x-ea1df7c4cb13f7ba7003a2e13652179034bfa4506630ee2456d4a0d7c9b12e47.png"></div>
                        </div>
                        <div class="row k-spacing-bottom--xxxx-large">
                            <div class="col-xs-6">
                                <h3 class="k-header k-color--night">4. Log in or create an account</h3>
                                <p class="k-paragraph">After you select Karma WiFi from your network list, a window will appear on your screen. Log in with the email and password you originally used to order with. If you haven't created an account yet, you can do that within the same window. </p><a class="k-link k-paragraph--small" data-behavior="ExpandableContent" data-expandable-id="trouble">Having trouble? </a>
                                <div class="k-expandable-content k-paragraph--small k-color--gray-inactive" id="trouble">If you don’t see a window, go to your browser and enter <a class="k-link" href="http://hotspot.yourkarma.com">http://hotspot.yourkarma.com</a> and then try logging in from there. If you see a "This Karma might be offline" message, <a class="k-link" href="https://yourkarma.com/coverage">double check the coverage</a> of the area that you’re in.
                                    <br>
                                    <br>If you don't have a password, or forgot it, <a class="k-link" href="https://login.yourkarma.com/forgot-password">follow these steps</a> to set a new one. </div>
                            </div>
                            <div class="col-xs-6"><img alt="Login to Karma" class="k-image--responsive" src="https://dy53q6sor7j4i.cloudfront.net/assets/getting-started/graphic-login-window-2x-5dccb706647f1617c2126031d8a02a517a44202326e8a4e46ad118b325b5308f.png"></div>
                        </div>
                        <div class="row k-spacing-bottom--xxxx-large">
                            <div class="col-xs-6">
                                <h3 class="k-header k-color--night">5. You're now online</h3>
                                <p class="k-paragraph">At this point, you should be fully connected to Karma Go and able to access the internet using your account and data. Surf on. </p><a class="k-link k-paragraph--small" href="https://yourkarma.com/contact">Still having issues? Contact us</a></div>
                            <div class="col-xs-6"><img alt="Surf on" class="k-image--responsive" src="https://dy53q6sor7j4i.cloudfront.net/assets/getting-started/graphic-surf-2x-822c39771795a80e50a29c26813296d8668a9346eba13a67b23ead75faa253e2.png"></div>
                        </div>
                    </div>
                    <div class="k-faq-chapter-contents k-faq-chapter-contents--hidden" id="windows">
                        <div class="row k-spacing-bottom--xxxx-large">
                            <div class="col-xs-6">
                                <h3 class="k-header k-color--night">1. Turn on your Karma Go</h3>
                                <p class="k-paragraph">Press and hold the power button for a few seconds, until the rings flash white and the Karma Go begins powering on. </p><a class="k-link k-paragraph--small" data-behavior="ExpandableContent" href="#">Don't see any lights? </a>
                                <div class="k-expandable-content k-paragraph--small k-color--gray-inactive">If the lights don’t turn on, connect the micro USB cable to the Karma Go charging port and plug it into a power source, then try again. </div>
                            </div>
                            <div class="col-xs-6"><img alt="Knight Rider" class="k-image--responsive" src="https://dy53q6sor7j4i.cloudfront.net/assets/getting-started/graphic-device-art-booting-2x-b2ef757c70fb152a38a30d2b62e007fd0f64eb1c1c00c5ef4a87ba8d86005ff6.gif"></div>
                        </div>
                        <div class="row k-spacing-bottom--xxxx-large">
                            <div class="col-xs-6">
                                <h3 class="k-header k-color--night">2. Wait for the front lights to settle</h3>
                                <p class="k-paragraph">The battery indicator will remain on and the signal rings will go from flashing to solid, signifying a successful boot up. Depending on coverage, one to three signal rings will be lit. </p><a class="k-link k-paragraph--small" data-behavior="ExpandableContent" href="#">Signal lights aren't lit? </a>
                                <div class="k-expandable-content k-paragraph--small k-color--gray-inactive">If no signal rings are on, it means Karma Go can't find a good signal. Try to improve this by moving into a more open area. If this still doesn't work, <a class="k-link" href="https://yourkarma.com/coverage">double check the coverage</a> of the area that you're in. </div>
                            </div>
                            <div class="col-xs-6"><img alt="Kitt is active" class="k-image--responsive" src="https://dy53q6sor7j4i.cloudfront.net/assets/getting-started/graphic-device-art-on-2x-2b51d9d6d6fdb2a4366034a4a54171d97310f9ad136f37f922feb3b9c38393f0.png"></div>
                        </div>
                        <div class="row k-spacing-bottom--xxxx-large">
                            <div class="col-xs-6">
                                <h3 class="k-header k-color--night">3. Connect to Karma WiFi</h3>
                                <p class="k-paragraph">From your device (smartphone, laptop, tablet, etc.), locate Network Preferences. Then, select <span class="highlight">Karma WiFi</span> from the network list and your device will begin a connection with your Karma Go. </p><a class="k-link k-paragraph--small" data-behavior="ExpandableContent" href="#">Don't see Karma WiFi in the network list? </a>
                                <div class="k-expandable-content k-paragraph--small k-color--gray-inactive">If you don’t see the Karma WiFi in your network list after a few seconds, make sure the connecting device (smartphone, laptop, tablet, etc.) has WiFi turned on. </div>
                            </div>
                            <div class="col-xs-6"><img alt="Network SSID" class="k-image--responsive" src="https://dy53q6sor7j4i.cloudfront.net/assets/getting-started/graphic-network-list-2x-ea1df7c4cb13f7ba7003a2e13652179034bfa4506630ee2456d4a0d7c9b12e47.png"></div>
                        </div>
                        <div class="row k-spacing-bottom--xxxx-large">
                            <div class="col-xs-6">
                                <h3 class="k-header k-color--night">4. Log in or create an account</h3>
                                <p class="k-paragraph">Open your browser and enter <a class="k-link" href="http://hotspot.yourkarma.com">http://hotspot.yourkarma.com</a>. A window will appear on your screen. Log in with the email and password you originally used to order with. If you haven't created an account yet, you can do that within the same window. </p><a class="k-link k-paragraph--small" data-behavior="ExpandableContent">Having trouble? </a>
                                <div class="k-expandable-content k-paragraph--small k-color--gray-inactive">If you see a "This Karma might be offline" message, <a class="k-link" href="https://yourkarma.com/coverage">double check the coverage</a> of the area that you’re in.
                                    <br>
                                    <br>If you don't have a password, or forgot it, <a class="k-link" href="https://login.yourkarma.com/forgot-password">follow these steps</a> to set a new one. </div>
                            </div>
                            <div class="col-xs-6"><img alt="Login to Karma" class="k-image--responsive" src="https://dy53q6sor7j4i.cloudfront.net/assets/getting-started/graphic-login-window-2x-5dccb706647f1617c2126031d8a02a517a44202326e8a4e46ad118b325b5308f.png"></div>
                        </div>
                        <div class="row k-spacing-bottom--xxxx-large">
                            <div class="col-xs-6">
                                <h3 class="k-header k-color--night">5. You're now online</h3>
                                <p class="k-paragraph">At this point, you should be fully connected to Karma Go and able to access the internet using your account and data. Surf on. </p><a class="k-link k-paragraph--small" href="https://yourkarma.com/contact">Still having issues? Contact us</a></div>
                            <div class="col-xs-6"><img alt="Surf on" class="k-image--responsive" src="https://dy53q6sor7j4i.cloudfront.net/assets/getting-started/graphic-surf-2x-822c39771795a80e50a29c26813296d8668a9346eba13a67b23ead75faa253e2.png"></div>
                        </div>
                    </div>
                    <div class="k-faq-chapter-contents k-faq-chapter-contents--hidden" id="ios">
                        <div class="row k-spacing-bottom--xxxx-large">
                            <div class="col-xs-6">
                                <h3 class="k-header k-color--night">1. Turn on your Karma Go</h3>
                                <p class="k-paragraph">Press and hold the power button for a few seconds, until the rings flash white and the Karma Go begins powering on. </p><a class="k-link k-paragraph--small" data-behavior="ExpandableContent" href="#">Don't see any lights? </a>
                                <div class="k-expandable-content k-paragraph--small k-color--gray-inactive">If the lights don’t turn on, connect the micro USB cable to the Karma Go charging port and plug it into a power source, then try again. </div>
                            </div>
                            <div class="col-xs-6"><img alt="Knight Rider" class="k-image--responsive" src="https://dy53q6sor7j4i.cloudfront.net/assets/getting-started/graphic-device-art-booting-2x-b2ef757c70fb152a38a30d2b62e007fd0f64eb1c1c00c5ef4a87ba8d86005ff6.gif"></div>
                        </div>
                        <div class="row k-spacing-bottom--xxxx-large">
                            <div class="col-xs-6">
                                <h3 class="k-header k-color--night">2. Wait for the front lights to settle</h3>
                                <p class="k-paragraph">The battery indicator will remain on and the signal rings will go from flashing to solid, signifying a successful boot up. Depending on coverage, one to three signal rings will be lit. </p><a class="k-link k-paragraph--small" data-behavior="ExpandableContent" href="#">Signal lights aren't lit? </a>
                                <div class="k-expandable-content k-paragraph--small k-color--gray-inactive">If no signal rings are on, it means Karma Go can't find a good signal. Try to improve this by moving into a more open area. If this still doesn't work, <a class="k-link" href="https://yourkarma.com/coverage">double check the coverage</a> of the area that you're in. </div>
                            </div>
                            <div class="col-xs-6"><img alt="Kitt is active" class="k-image--responsive" src="https://dy53q6sor7j4i.cloudfront.net/assets/getting-started/graphic-device-art-on-2x-2b51d9d6d6fdb2a4366034a4a54171d97310f9ad136f37f922feb3b9c38393f0.png"></div>
                        </div>
                        <div class="row k-spacing-bottom--xxxx-large">
                            <div class="col-xs-6">
                                <h3 class="k-header k-color--night">3. Connect to Karma WiFi</h3>
                                <p class="k-paragraph">From your device (smartphone, laptop, tablet, etc.), locate Network Preferences. Then, select <span class="highlight">Karma WiFi</span> from the network list and your device will begin a connection with your Karma Go. </p><a class="k-link k-paragraph--small" data-behavior="ExpandableContent" href="#">Don't see Karma WiFi in the network list? </a>
                                <div class="k-expandable-content k-paragraph--small k-color--gray-inactive">If you don’t see the Karma WiFi in your network list after a few seconds, make sure the connecting device (smartphone, laptop, tablet, etc.) has WiFi turned on. </div>
                            </div>
                            <div class="col-xs-6"><img alt="Network SSID" class="k-image--responsive" src="https://dy53q6sor7j4i.cloudfront.net/assets/getting-started/graphic-network-list-2x-ea1df7c4cb13f7ba7003a2e13652179034bfa4506630ee2456d4a0d7c9b12e47.png"></div>
                        </div>
                        <div class="row k-spacing-bottom--xxxx-large">
                            <div class="col-xs-6">
                                <h3 class="k-header k-color--night">4. Log in or create an account</h3>
                                <p class="k-paragraph">After you select Karma WiFi from your network list, a window will appear on your screen. Log in with the email and password you originally used to order with. If you haven't created an account yet, you can do that within the same window. </p><a class="k-link k-paragraph--small" data-behavior="ExpandableContent" data-expandable-id="trouble">Having trouble? </a>
                                <div class="k-expandable-content k-paragraph--small k-color--gray-inactive" id="trouble">If you don’t see a window, go to your browser and enter <a class="k-link" href="http://hotspot.yourkarma.com">http://hotspot.yourkarma.com</a> and then try logging in from there. If you see a "This Karma might be offline" message, <a class="k-link" href="https://yourkarma.com/coverage">double check the coverage</a> of the area that you’re in.
                                    <br>
                                    <br>If you don't have a password, or forgot it, <a class="k-link" href="https://login.yourkarma.com/forgot-password">follow these steps</a> to set a new one. </div>
                            </div>
                            <div class="col-xs-6"><img alt="Login to Karma" class="k-image--responsive" src="https://dy53q6sor7j4i.cloudfront.net/assets/getting-started/graphic-login-window-2x-5dccb706647f1617c2126031d8a02a517a44202326e8a4e46ad118b325b5308f.png"></div>
                        </div>
                        <div class="row k-spacing-bottom--xxxx-large">
                            <div class="col-xs-6">
                                <h3 class="k-header k-color--night">5. You're now online</h3>
                                <p class="k-paragraph">At this point, you should be fully connected to Karma Go and able to access the internet using your account and data. Surf on. </p><a class="k-link k-paragraph--small" href="https://yourkarma.com/contact">Still having issues? Contact us</a></div>
                            <div class="col-xs-6"><img alt="Surf on" class="k-image--responsive" src="https://dy53q6sor7j4i.cloudfront.net/assets/getting-started/graphic-surf-2x-822c39771795a80e50a29c26813296d8668a9346eba13a67b23ead75faa253e2.png"></div>
                        </div>
                    </div>
                    <div class="k-faq-chapter-contents k-faq-chapter-contents--hidden" id="android">
                        <div class="row k-spacing-bottom--xxxx-large">
                            <div class="col-xs-6">
                                <h3 class="k-header k-color--night">1. Turn on your Karma Go</h3>
                                <p class="k-paragraph">Press and hold the power button for a few seconds, until the rings flash white and the Karma Go begins powering on. </p><a class="k-link k-paragraph--small" data-behavior="ExpandableContent" href="#">Don't see any lights? </a>
                                <div class="k-expandable-content k-paragraph--small k-color--gray-inactive">If the lights don’t turn on, connect the micro USB cable to the Karma Go charging port and plug it into a power source, then try again. </div>
                            </div>
                            <div class="col-xs-6"><img alt="Knight Rider" class="k-image--responsive" src="https://dy53q6sor7j4i.cloudfront.net/assets/getting-started/graphic-device-art-booting-2x-b2ef757c70fb152a38a30d2b62e007fd0f64eb1c1c00c5ef4a87ba8d86005ff6.gif"></div>
                        </div>
                        <div class="row k-spacing-bottom--xxxx-large">
                            <div class="col-xs-6">
                                <h3 class="k-header k-color--night">2. Wait for the front lights to settle</h3>
                                <p class="k-paragraph">The battery indicator will remain on and the signal rings will go from flashing to solid, signifying a successful boot up. Depending on coverage, one to three signal rings will be lit. </p><a class="k-link k-paragraph--small" data-behavior="ExpandableContent" href="#">Signal lights aren't lit? </a>
                                <div class="k-expandable-content k-paragraph--small k-color--gray-inactive">If no signal rings are on, it means Karma Go can't find a good signal. Try to improve this by moving into a more open area. If this still doesn't work, <a class="k-link" href="https://yourkarma.com/coverage">double check the coverage</a> of the area that you're in. </div>
                            </div>
                            <div class="col-xs-6"><img alt="Kitt is active" class="k-image--responsive" src="https://dy53q6sor7j4i.cloudfront.net/assets/getting-started/graphic-device-art-on-2x-2b51d9d6d6fdb2a4366034a4a54171d97310f9ad136f37f922feb3b9c38393f0.png"></div>
                        </div>
                        <div class="row k-spacing-bottom--xxxx-large">
                            <div class="col-xs-6">
                                <h3 class="k-header k-color--night">3. Connect to Karma WiFi</h3>
                                <p class="k-paragraph">From your device (smartphone, laptop, tablet, etc.), locate Network Preferences. Then, select <span class="highlight">Karma WiFi</span> from the network list and your device will begin a connection with your Karma Go. </p><a class="k-link k-paragraph--small" data-behavior="ExpandableContent" href="#">Don't see Karma WiFi in the network list? </a>
                                <div class="k-expandable-content k-paragraph--small k-color--gray-inactive">If you don’t see the Karma WiFi in your network list after a few seconds, make sure the connecting device (smartphone, laptop, tablet, etc.) has WiFi turned on. </div>
                            </div>
                            <div class="col-xs-6"><img alt="Network SSID" class="k-image--responsive" src="https://dy53q6sor7j4i.cloudfront.net/assets/getting-started/graphic-network-list-2x-ea1df7c4cb13f7ba7003a2e13652179034bfa4506630ee2456d4a0d7c9b12e47.png"></div>
                        </div>
                        <div class="row k-spacing-bottom--xxxx-large">
                            <div class="col-xs-6">
                                <h3 class="k-header k-color--night">4. Log in or create an account</h3>
                                <p class="k-paragraph">Open your browser and enter <a class="k-link" href="http://hotspot.yourkarma.com">http://hotspot.yourkarma.com</a>. A window will appear on your screen. Log in with the email and password you originally used to order with. If you haven't created an account yet, you can do that within the same window. </p><a class="k-link k-paragraph--small" data-behavior="ExpandableContent">Having trouble? </a>
                                <div class="k-expandable-content k-paragraph--small k-color--gray-inactive">If you see a "This Karma might be offline" message, <a class="k-link" href="https://yourkarma.com/coverage">double check the coverage</a> of the area that you’re in.
                                    <br>
                                    <br>If you don't have a password, or forgot it, <a class="k-link" href="https://login.yourkarma.com/forgot-password">follow these steps</a> to set a new one. </div>
                            </div>
                            <div class="col-xs-6"><img alt="Login to Karma" class="k-image--responsive" src="https://dy53q6sor7j4i.cloudfront.net/assets/getting-started/graphic-login-window-2x-5dccb706647f1617c2126031d8a02a517a44202326e8a4e46ad118b325b5308f.png"></div>
                        </div>
                        <div class="row k-spacing-bottom--xxxx-large">
                            <div class="col-xs-6">
                                <h3 class="k-header k-color--night">5. You're now online</h3>
                                <p class="k-paragraph">At this point, you should be fully connected to Karma Go and able to access the internet using your account and data. Surf on. </p><a class="k-link k-paragraph--small" href="https://yourkarma.com/contact">Still having issues? Contact us</a></div>
                            <div class="col-xs-6"><img alt="Surf on" class="k-image--responsive" src="https://dy53q6sor7j4i.cloudfront.net/assets/getting-started/graphic-surf-2x-822c39771795a80e50a29c26813296d8668a9346eba13a67b23ead75faa253e2.png"></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
